/*用户中心css*/
.select-no {
    display: inline-block;

    width: 2rem;

    background: url(../images/no.png) center no-repeat;
    background-size: .86rem;
}
.select-null {
    display: inline-block;

    width: 2rem;

    background: url(../images/null.png) center no-repeat;
    background-size: .86rem;
}
.select-current {
    display: inline-block;

    width: 2rem;

    background: url(../images/yes.png) center no-repeat;
    background-size: .86rem;
}

.list-box {
    min-height: 100%;
    padding-bottom: 2.5rem;

    background: #f7f7f7;
}
.list-box ul li {
    line-height: 2rem;

    height: 3rem;
    padding: .5rem;

    border-bottom: 1px solid #f0f0f0;
    background: #fff;
}
.list-box ul li a {
    line-height: 1rem;

    display: block;

    width: 13rem;
}
.list-box ul li a.border-r {
    border-right: 1px solid #eee;
}
.list-box ul li a p {
    overflow: hidden;

    height: 1rem;

    white-space: nowrap;
    text-overflow: ellipsis;
}
.add-address {
    position: fixed;
    bottom: 0;

    width: 16rem;
    padding: .5rem;
}
.add-address a.redbtn {
    line-height: 1.87rem;

    height: 1.87rem;
}
.list-box ul li .dele {
    display: block;

    width: 1.5rem;
    height: 2rem;
    margin-right: .5rem;

    background: url(../images/dele.png) right center no-repeat;
    background-size: .73rem;
}
/*添加*/
.user-info {
    margin-bottom: .5rem;
    padding-left: .5rem;

    border-bottom: 1px solid #eee;
    background: #fff;
}
.user-info p {
    line-height: 2rem;

    overflow: hidden;

    border-bottom: 1px solid #eee;
}
.user-info p:last-child {
    border-bottom: none;
}
.user-info p label {
    display: block;

    width: 4rem;
}
.user-info p input {
    line-height: 1rem;

    display: block;

    width: 11rem;
    padding: .5rem 0;

    border: none;
    background: none;
}
.user-info p select {
    line-height: 1rem;

    display: block;

    width: 11rem;
    height: 2rem;
    padding: .5rem 0;

    text-indent: 0;

    border: none;
}
.user-info p.isdefault span.fr {
    display: block;

    width: 5rem;
    height: 2rem;
    margin-right: .8rem;

    background: url(../images/no-def.png) right center no-repeat;
    background-size: .64rem;
}
.user-info p.isdefault span.cur {
    background: url(../images/yes-def.png) right center no-repeat;
    background-size: .64rem;
}
/*收货地址*/
